In [30]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Dataset real de transacciones online (UCI Machine Learning Repository)
url = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/07_Visualization/Online_Retail/Online_Retail.csv"

df_retail = pd.read_csv(url, encoding='ISO-8859-1')
df_retail['InvoiceDate'] = pd.to_datetime(df_retail['InvoiceDate'])

C:\Users\Dark7 120gb\AppData\Local\Temp\ipykernel_20728\2260707690.py:9: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_retail['InvoiceDate'] = pd.to_datetime(df_retail['InvoiceDate'])

In [31]:
df_retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [32]:
df_retail.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [33]:
df_retail.describe()

,Quantity,InvoiceDate,UnitPrice,CustomerID
count,541909.000000,541909,541909.000000,406829.000000
mean,9.552250,2011-07-04 13:34:57.156386048,4.611114,15287.690570
min,-80995.000000,2010-12-01 08:26:00,-11062.060000,12346.000000
25%,1.000000,2011-03-28 11:34:00,1.250000,13953.000000
50%,3.000000,2011-07-19 17:17:00,2.080000,15152.000000
75%,10.000000,2011-10-19 11:27:00,4.130000,16791.000000
max,80995.000000,2011-12-09 12:50:00,38970.000000,18287.000000
std,218.081158,NaN,96.759853,1713.600303

In [34]:
df_sin_negativos=df_retail[(df_retail['Quantity']>0)&(df_retail['UnitPrice']>0)]
df_sin_negativos.describe()

,Quantity,InvoiceDate,UnitPrice,CustomerID
count,530104.000000,530104,530104.000000,397884.000000
mean,10.542037,2011-07-04 20:16:05.225087744,3.907625,15294.423453
min,1.000000,2010-12-01 08:26:00,0.001000,12346.000000
25%,1.000000,2011-03-28 12:22:00,1.250000,13969.000000
50%,3.000000,2011-07-20 12:58:00,2.080000,15159.000000
75%,10.000000,2011-10-19 12:39:00,4.130000,16795.000000
max,80995.000000,2011-12-09 12:50:00,13541.330000,18287.000000
std,155.524124,NaN,35.915681,1713.141560

In [35]:
df_sin_negativos['TotalSum']=df_sin_negativos['Quantity']*df_sin_negativos['UnitPrice']
df_sin_negativos

C:\Users\Dark7 120gb\AppData\Local\Temp\ipykernel_20728\4026181594.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sin_negativos['TotalSum']=df_sin_negativos['Quantity']*df_sin_negativos['UnitPrice']

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalSum
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France,10.20
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,12.60
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,14.85

In [36]:
snapshot_date = df_sin_negativos['InvoiceDate'].max() + pd.Timedelta(days=1)
snapshot_date

Timestamp('2011-12-10 12:50:00')

FASE 2: Creando la Tabla de Clientes (RFM) 游논

Ahora mismo tienes filas de "productos". Necesitamos resumir esto a una fila por "Cliente" (CustomerID).

Fecha de referencia: Crea una variable snapshot_date que sea la fecha m치xima del dataset + 1 d칤a. (Para simular que hacemos el an치lisis "hoy").

* snapshot_date = df_retail['InvoiceDate'].max() + pd.Timedelta(days=1)

Agrupaci칩n Maestra: Agrupa por CustomerID y calcula:

* Recency: D칤as entre snapshot_date y la 칰ltima compra del cliente (max de la fecha).

* Frequency: Conteo (count) de sus facturas 칰nicas (InvoiceNo). (Nota: Para simplificar, puedes contar filas, o usar nunique si te animas).

* Monetary: Suma (sum) de TotalSum.

In [37]:
rfm=df_sin_negativos.groupby('CustomerID').agg({
    'InvoiceDate':lambda x: (snapshot_date - x.max()).days, #쮿ace cu치nto compr칩?
    'InvoiceNo':'nunique', #쮺u치ntas veces vino?
    'TotalSum':'sum' #쮺u치nto gast칩?
})

rfm.rename(columns={
    'InvoiceDate': 'Recency',
    'InvoiceNo': 'Frequency',
    'TotalSum': 'Monetary'
}, inplace=True)

In [38]:
rfm.head()

            Recency  Frequency  Monetary
CustomerID
12346.0         326          1  77183.60
12347.0           2          7   4310.00
12348.0          75          4   1797.24
12349.0          19          1   1757.55
12350.0         310          1    334.40

FASE 3: El Ranking (Quantiles) 游끥 [Herramienta Nueva]

Queremos etiquetar a los clientes del 1 al 4 seg칰n qu칠 tan buenos son. Usaremos pd.qcut(columna, q=4, labels=[...]).

In [39]:
# Creamos un ranking para desempatar a los que tienen la misma cantidad de compras.
# method='first' significa: si empatan, el que aparece primero en la lista gana.
rfm['Frequency_Rank'] = rfm['Frequency'].rank(method='first')


rfm['R_label']=pd.qcut(rfm['Recency'],q=4,labels=[4,3,2,1])
rfm['F_label']=pd.qcut(rfm['Frequency_Rank'],q=4,labels=[1,2,3,4], duplicates='drop')
rfm['M_label']=pd.qcut(rfm['Monetary'],q=4,labels=[1,2,3,4])
rfm.head()

,Recency,Frequency,Monetary,Frequency_Rank,R_label,F_label,M_label
CustomerID,,,,,,,
12346.0,326,1,77183.60,1.0,1,1,4
12347.0,2,7,4310.00,3639.0,4,4,4
12348.0,75,4,1797.24,2837.0,2,3,4
12349.0,19,1,1757.55,2.0,3,1,4
12350.0,310,1,334.40,3.0,1,1,2

Filtra y mu칠strame a los mejores clientes posibles (aquellos que tengan Score m치ximo, es decir, 4+4+4 = 12, o cercano).

In [40]:
#Nos aseguramos que sean enteros
rfm['RFM_score']=rfm['R_label'].astype(int)+rfm['F_label'].astype(int)+rfm['M_label'].astype(int)
rfm.sort_values(by='RFM_score',ascending=False)

,Recency,Frequency,Monetary,Frequency_Rank,R_label,F_label,M_label,RFM_score
CustomerID,,,,,,,,
18283.0,4,16,2094.88,4187.0,4,4,4,12
18245.0,7,7,2567.06,3781.0,4,4,4,12
18241.0,10,17,2073.09,4205.0,4,4,4,12
18230.0,9,7,2810.20,3780.0,4,4,4,12
18229.0,12,20,7276.90,4243.0,4,4,4,12
...,...,...,...,...,...,...,...,...
13011.0,372,1,50.55,173.0,1,1,1,3
13008.0,323,1,229.47,172.0,1,1,1,3
12821.0,214,1,92.72,132.0,1,1,1,3
12817.0,281,1,166.04,130.0,1,1,1,3
13462.0,253,1,151.50,293.0,1,1,1,3